<div class="container">
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <my-date-picker
          name="mydate"
          [options]="myDatePickerOptions"
          [(ngModel)]="d1"
          required
        ></my-date-picker>
      </div>

      <div class="col-md-6">
        <my-date-picker
          name="mydate"
          [options]="myDatePickerOptions"
          [(ngModel)]="d2"
          required
        ></my-date-picker>
      </div>
    </div>

    <div class="col-md-6">
      <div 
         daterangepicker
          name="mydate"
          [options]="options"
          (selected) = "selectedDate($event,daterange)"
          class="my-calender"
        >
        <div>
          <span> {{daterange.start | date:shortDate}} </span>
          <span *ngIf="daterange.end" class="dateSep"> - </span>
          <span *ngIf="daterange.end"> {{daterange.end | date:shortDate}} </span>
        </div>
        <div>
          <i class="fas fa-calendar-alt"></i>
        </div>
        
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
    <div>
      Angular4 datepicker:
      <br />
     Date1: {{ d1 | json }}
      <br>
     Date2 :  {{ d2 | json }}
    </div>
   
  </form>
</div>
