<div class="container">
  <div class="row">
    <div class="form-bg">
      <form #empForm="ngForm" (ngSubmit)="RegisterEmp()">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">Student Registration</h3> -->
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input
                id="firstName"
                type="text"
                class="form-control"
                required
                name="firstName"
                #firstName = "ngModel"
                [(ngModel)]="emp.firstName"
              />
              <small class="text-danger" *ngIf="firstName.touched && firstName?.errors?.required">First name is required</small>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input
                id="lastName"
                type="text"
                class="form-control"
                name="lastName"
                required
                #lastName = "ngModel"
                [(ngModel)]="emp.lastName"
              />
              <small class="text-danger" *ngIf="lastName.touched && lastName?.errors?.required">Last name is required</small>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                id="email"
                type="text"
                name="email"
                email
                required
                #email="ngModel"
                class="form-control"
                [(ngModel)]="emp.email"
              />
              <small class="text-danger" *ngIf="email.touched && email?.errors?.required">Email is required</small>

              <small class="text-danger" *ngIf="email.touched && !email?.errors?.required && email?.errors?.email">Email is invalid</small>
             
            </div>

            <div class="form-group">
              <label for="state">State</label>
              <select class="form-control"  name="state" [(ngModel)]="emp.state" #state="ngModel" appSelectValidator>
                <option [ngValue] = "null" >Select State</option>
                <option *ngFor="let state of states" [ngValue]="state.id">
                    {{state.name}}
                </option>
              </select>
              {{ emp.state }}

              <small class="text-danger" *ngIf="state.touched && state?.errors?.selectError">State is required</small>
              
            </div>


            <div class="form-group">
              <label>Gender</label>
              <div class="form-control">
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="gender"
                    value="male"
                    required
                    [(ngModel)]="emp.gender"
                    #gender = "ngModel"
                  />
                  Male
                </label>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="gender"
                    value="female"
                    required
                    [(ngModel)]="emp.gender"
                    #gender = "ngModel"
                  />
                  Female
                </label>
                
                <small class="text-danger" style="display: block;" *ngIf="gender.touched && gender?.errors?.required">Gender is required</small>
              </div>
            </div>

            
 
            <div class="form-group">
              <label>Gender</label>
              <div class="form-control">
                <label
                  class="radio-inline"
                  for="chk{{ country.id }}"
                  *ngFor="let country of countries; let i = index"
                >
                  <input
                    (change)="onchangeCountry($event)"
                    type="checkbox"
                    id="chk{{ country.id }}"
                    name="countries{{ country.id }}"
                    [value]="country.id"
                    
                    [(ngModel)]="countries[i].checked"
                  />
                  {{ country.name }}
                </label>

                <small class="text-danger" *ngIf="countryError"> Select atleast one country</small>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button class="btn btn-primary" [disabled]="disableButton()" type="submit">Submit</button>
            <button class="btn btn-primary" (click)="resetForm()"  type="button">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
