<!-- <h1>
  {{ title }}
</h1>

<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button> -->
<a [routerLink]="['/employees']">Employees</a>
<br />
<a [routerLink]="['/datepicker']">DatePicker</a>
<br />
<a [routerLink]="['/pdf']">PDF</a>
<br />
<a [routerLink]="['/customers/add']">customers</a>
<br />
<a [routerLink]="['/customers/register']">customers register</a>
<br />
<a [routerLink]="['/customers/register2']">customers register2</a>
<br />

<a [routerLink]="['/template']">template</a>
<br />
<a [routerLink]="['/orders']">orders</a>
<br>
<a [routerLink]="['/git']">Git</a>

<router-outlet></router-outlet>
