<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>PDF</h3>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-primary" type="button" (click)="downloadPdf()">
        PDF
      </button>
      <button class="btn btn-primary" type="button">Excel</button>
    </div>

    <div class="col-md-12" style="margin-top: 20px">
      <div class="table-responsive">
        <table
          id="my-table"
          class="table table-striped table-bordered table-hover table-condensed"
        >
          <tr>
            <th>AmountPaid</th>
            <th>Decription</th>
            <th>Effective Date</th>
            <th>Escrow</th>
            <th>Interest</th>
          </tr>
          <tr *ngFor="let payment of payments">
            <td>{{ payment.amountPaid }}</td>
            <td>{{ payment.decription }}</td>
            <td>{{ payment.effectiveDate }}</td>
            <td>{{ payment.escrow }}</td>
            <td>{{ payment.interest }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
